@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body px-5;
  }
}
@layer components {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  .movie-cast .swiper-slide {
    width: 300px;
  }
}
